{% extends 'padre/base.html' %}

{% block title %} Artista-l {% endblock %}
{% load static %}

    <!-- ================================================================================================= -->
    <!-- ============================           GALERIA IMAGENES           ============================= -->
    <!-- ================================================================================================= -->
{% block content %}
    <div class="conteiner">
      <div class="p-2 mb-1 bg-light text-black text-center">
        <h1 class="text-center fs-2"> ARTISTAS LOCALES </h1>
      </div>
      <div class="row justify-content-center">
            <div class="col-md-3 p-5">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'img/jade-stephens.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">jade-stephens</h5>
                  <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 
                </div>
              </div>
              </div>
              <div class="col-md-3 p-5">

                <div class="card" style="width: 18rem;">
                  <img src="{% static 'img/susanna-marsiglia.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">susanna-marsiglia</h5>
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   
                  </div>
                </div>
              </div>

{% endblock %}
    









      
    
    
    
    
    
