{% extends 'padre/base.html' %}

{% block title %} Artista-l {% endblock %}
{% load static %}

<!-- ================================================================================================= -->
<!-- ============================           GALERIA IMAGENES           ============================= -->
<!-- ================================================================================================= -->
{% block content %}
<div class="container">
    <h1 class="text-white">Error en el Pago</h1>
    <p class="text-white">Ocurrió un error al procesar tu pago. Por favor, intenta nuevamente.</p>
</div>

{% endblock %}