{% extends 'padre/base.html' %}

{% block title %} Artista-l {% endblock %}
{% load static %}

    <!-- ================================================================================================= -->
    <!-- ============================           GALERIA IMAGENES           ============================= -->
    <!-- ================================================================================================= -->
{% block content %}
<div class="container">
    <h1 class="text-white">¡Pago Exitoso!</h1>
    <p class="text-white">Gracias por tu compra.</p>
</div>

{% endblock %}
    









      
    
    
    
    
    
