{% extends 'padre/base.html' %}

{% block title %} Galeria {% endblock %}
{% load static %}

{% block content %}       
    <div class="conteiner">
      <div class="row justify-content-center">
            <div class="col-md-3 p-5">
              <div class="card" style="width: 20rem;">
                <img src="{% static 'img/g-1.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'galeria-1'}%" class="btn btn-info">VER AHORA</a>
                </div>
              </div>
              </div>
              
              <div class="col-md-3 p-5">

                <div class="card" style="width: 20rem;">
                  <img src="{% static 'img/g-2.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="{% url 'galeria-2'%}" class="btn btn-info ">VER AHORA</a>
                  </div>
                </div>
              </div>


              <div class="col-md-3 p-5">
                <div class="card" style="width: 20rem;">
                  <img src="{% static 'img/g-3.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="galeria-3.html" class="btn btn-info">VER AHORA</a>
                  </div>
                </div>
              </div>
            <div class="col-md-3 p-5">
              <div class="card" style="width: 20rem;">
                <img src="{% static 'img/g-4.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="galeria-4.html" class="btn btn-info">VER AHORA</a>
                </div>
              </div>
              </div>
              <div class="col-md-3 p-5">

                <div class="card" style="width: 20rem;">
                  <img src="{% static 'img/g-5.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="galeria-5.html" class="btn btn-info">VER AHORA</a>
                  </div>
                </div>
              </div>


              <div class="col-md-3 p-5">
                <div class="card" style="width: 20rem;">
                  <img src="{% static 'img/g-6.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="galeria-6.html" class="btn btn-info">VER AHORA</a>
                  </div>
                </div>
              </div>
            <div class="col-md-3 p-5">
              <div class="card" style="width: 20rem;">
                <img src="{% static 'img/g-7.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="galeria-7.html" class="btn btn-info">VER AHORA</a>
                </div>
              </div>
              </div>
              <div class="col-md-3 p-5">

                <div class="card" style="width: 20rem;">
                  <img src="{% static 'img/g-8.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="galeria-8.html" class="btn btn-info">VER AHORA</a>
                  </div>
                </div>
              </div>

      </div>
      </div>

      {% endblock %} 


